fastapi
uvicorn
python-multipart
python-dotenv
SpeechRecognition
gtts
pygame
opencv-python
numpy
langchain
langchain-openai
langchain-google-genai
langgraph
pydub
requests
pyaudio
mem0ai
python-jose[cryptography]
passlib[bcrypt]
motor
openai
qdrant-client
google-genai
