fastapi
uvicorn
python-multipart
python-dotenv
SpeechRecognition
gtts
opencv-python-headless
numpy
langchain
langchain-openai
langchain-google-genai
langgraph
pydub
requests
mem0ai
python-jose[cryptography]
passlib[bcrypt]
motor
openai
qdrant-client
google-genai
